<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
     <meta http-equiv="Content-Type" content="text/html; utf-8;"/>
     <link rel="stylesheet" href= "../static/styles.css" type="text/css"></link>
     <title>Bradley PH Williams</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-left">
        <h1 class="navbarTitle"> Bradley <span style="font-size:20px">PH</span> Williams </h1>
        <navbar>
            <ul class="nav navbar-nav">
            <li><a class="navbar-active" href="index">About</a></li>
            <li><a href="portfolio">Portfolio</a></li>
            <li><a href="blog">Blog</a></li>
            </ul>
        </navbar>
</div>
<div id="page-wrap">
        <div id="contact-info" class="vcard">
            <h1 class="fn">About Me</h1>     
            <p>
                Name: Bradley Peter Harry Williams<br></br>
                Mobile Number: <span class="tel">07463 359665</span><br></br>
                Email: <a class="email" href="mailto:bradleyw@artifexnet.co.uk">bradleyw@artifexnet.co.uk</a></br>
            </p>
        </div>          
    <div id="personalStatement">
        <p>
            A recently graduated developer seeking a graduate position that will kindle my technology interest and
            university expertise as well as teach me new skills. I would describe myself as a kind hearted person who enjoys
            dealing with technology, and will seek to share my enthusiasm with others. I am always open to gain more
            programming knowledge and enjoy finding ways to further my knowledge on this exciting industry because I
            enjoy and appreciate technology, and writing code is not just a career decision but a hobby, because I find it
            mentally stimulating and enjoyable. In terms of working with others, I have lived abroad in Spain for four years
            during my secondary education in an international college and thus find I manage to work well in a range of
            diverse team compositions.
        </p>
    </div>
    <div class="card">
        <dt>Education</dt>
            <dd>
            <h2>University of Hertfordshire, Hertfordshire, UK <span>[09/13 – 06/16]</span></h2>
                <li class="detailingList"><strong>Degree:</strong> Computer Science (Software Engineering)</li>
		<li class="detailingList"><strong>Grade:</strong> 1st Class Honors</li>
            <h2>King Richard III College, Mallorca, Spain <span>[09/09 – 06/13]</span></h2>
            <h2>Clayesmore School, Dorset, UK. <span>[09/08 – 06/09]</span></h2>
            <h2>Dumpton School, Dorset, UK. <span>[09/04 – 06/08]</span></h2>
            </dd>
    </div>
<div class="card">
        <dt>Skills</dt>
            <dd>
	    
            </dd>
            
            <dd class="clear"></dd>
        </div>
	<div class = "card">
            <dt>Experience</dt>
            <dd>
                <h2>TotePool - Betting Assistant <span>[04/2014] - [CURRENT]</span></h2>
		<h2>Sandbanks Beach Café - BBQ Chef <span>[07/2014] - [09/2014]</span></h2>
		<h2>National Trust - Iced Goods Vendor <span>[06/2014] - [07/2014]</span></h2>
		<h2>City Center Recruitment Agency - Hospitality Agent <span>[06/2013 - 09/2013]</span></h2>
		<h2>Associacio de Proteccio Animal: SOS Animal Mallorca - Dog Handler <span>[06/2012 - 09/2012]</span></h2>
            </dd>
            <dd class="clear"></dd>
	</div>
	<div class = "card">
            <dt>Hobbies</dt>
            <dd>Reading</dd>
        </div>
	<div class= "card">
            <dd class="clear"></dd>
            <dt>References</dt>
            <dd>Available on request</dd>
            <dd class="clear"></dd>
	</div>
        </dl>
        
        <div class="clear"></div>
    
    </div>
</body>
</html>